/*@font-face {
    font-family:"AVENGEANCE";
    src: url("../font/AVENGEANCE.ttf");
}
body{font-family: "AVENGEANCE"}*/
body {margin:0; padding:0; font:12px"\5B8B\4F53",sans-serif;}
i{font-style: normal}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}

/*toobar栏开始*/
.zu-control-group {
    color: rgba(255, 254, 254, 0.82);
    display: inline-block;
    pointer-events: all;
    position: relative;
    text-align: center;
    transform: scale(1.2);
    transform-origin: left;
}
.zu-toolbar {
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: calc(100% - 20px);
    text-align: center;
    z-index: 5;
    transform: translateX(-50%);
    pointer-events: none;
}
.toolbarButton {
    position: relative;
    float: left;
    /*background-color: rgba(44, 44, 44, 0.6);*/
}
#leftTools{
    border-radius: 5px 0px 0px 5px;
}
#leftTools:after {
    right: 0;
}
#leftTools:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 32px;
    background: #ccc;
    top: 50%;
    transform: translateY(-50%);
}
#rightTools{
    border-radius: 0px 5px 5px 0px;
}
.zu-button {
    position: relative;
    float: left;
    cursor: pointer;
    width: 28px;
    height: 28px;
    padding: 6px 6px 6px 6px;
    margin: 4px 4px 4px 4px;
    border: 1px solid rgba(27,71,129, 0.0);
    border-radius: 4px;
    box-sizing: content-box;
}
.zu-button:hover {
    color: #709dcc;
    border: 1px solid #2166af;
}
.zu-button-icon{
    display: inline-block;
    padding-top: 3px;
    font-size: 24px;
    line-height: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.zu-tooltip{
    color: rgba(238, 238, 238, 0.78);
    /*background-color: rgba(44, 44, 44, 0.6);*/
    box-shadow:0px 1px 2px rgba(255, 255, 255, 0.3);
    padding: 7px;
    opacity: 1.0;
    border-radius: 3px;
    pointer-events: none;
    position: absolute;
    visibility: hidden;
    bottom: 125%;
    z-index: 5;
    left: 0;
    font-size: 11px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.2;
    white-space: nowrap;
    box-sizing: content-box;
}
/*toobar栏结束*/


/* 浮动div*/
.zu-infoWindow{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #00e5e5;
    font-family: Helvetica, sans-serif;
    background: rgba(0,0,0,0.4);
}
.zu-infoWindow h3{
    text-align: center;
    font-size: 22px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,255,255,0.95);
    background: url(../img/boderlin.png);
    background-repeat: no-repeat;
    background-size: 100% 6%;
    background-position: 7.5px 30px;

}
.info {
    position: relative;
    padding: 0px 0 20px 0;
    width: 300px;
    height: auto;
    background: url(../img/sidebar_bg.png);
    background-repeat: no-repeat;
    border: 1px solid #3c3c3c;
}
.info:hover {
    box-shadow: inset 0px 0px 12px rgba(0,255,255,0.45);
    border:  1px solid rgba(127,255,255,0.45);
}
.decorate_right_top {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 50%;
}
img {
    border: 0;
    vertical-align: middle;
    width: 100%;
    height: 16px;
}
.decorate_left_foot {
    position: absolute;
    bottom: 0px;
    right: 0%;
    width: 50%;
}
.info-content{
    color: #fff;
    font-size: 16px;
    min-height: 126px;
}
.info-table{
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 10px 0;
}
.info-content span{
    display: inline-block;
    width: 48%;
    text-align: center;
}
.info-content span:nth-child(1){

    text-align: right;
}
#toolbar-simulationToolInfo{
    position: absolute;
    display: none;
    bottom: 125%;
    left: -5px;
    margin: 0;
    transition: all 0.2s ease;
    z-index: 1;
    border: 1px solid #2c404e;
    /*background-color: rgba(44, 44, 44, 0.6);*/
}
.icon-chongdian1,.icon-moniqi{
    display: none;
}
.icon-charging,.icon-xiangji{
    display: block;
}
.zu-infoWindow i{
    font-size: 24px;
    position: relative;
    top: 30px;
    font-style: normal;
    left: 267px;
    z-index: 999;
}
.Icon{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-size: 100%;
}
#IconCar1{
    background-image: url("../img/02.jpg");
}
#IconCar2{
    background-image: url("../img/02.jpg");
}
#IconCar3{
    background-image: url("../img/02.jpg");
}
#IconCar4{
    background-image: url("../img/02.jpg");
}
#IconCar5{
    background-image: url("../img/02.jpg");
}
#IconCharge1{
    background-image: url("../img/01.png");
}
#IconCharge2{
    background-image: url("../img/01.png");
}
#IconCharge3{
    background-image: url("../img/01.png");
}
#IconCharge4{
    background-image: url("../img/01.png");
}
#IconCharge5{
    background-image: url("../img/01.png");
}
#IconAblou{
    background-image: url("../img/04.jpg");
}

.moni-tooltip{
    left: 120%;
    bottom: 25%;
    color: #fff;
    background-color: transparent;
    box-shadow: 0px 1px 2px rgba(204, 204, 204, 0.71);
    padding: 7px;
    opacity: 1.0;
    border-radius: 3px;
    position: absolute;
    visibility: hidden;
    z-index: 5;
    font-size: 11px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.2;
    white-space: nowrap;
}





























